<!-- <div class="d-flex align-items-center justify-content-md-center colmenu">
    <p>Contenido works!</p>
</div> -->

<div class="colmenu">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6 w-100">
                    <p>C1-F1</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 w-100">
                    <p>C1-F2</p>
                </div>
            </div>
        </div>
        <div class="col-2 w-50">
            <p>C2-F1</p>
        </div>
    </div>
</div>
